<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <title>Chat app</title>
    </head>
    <body>
        <div class="container">
            <% if(user) { %>
                <br><br>
                <a href="/logout"><button type="button" name="button" class="btn btn-danger float-left">Logout</button></a>
                <br><br>
                <div id="message_box" class="">

                </div>
                <br><br>
                <div class="enter_mess_form">
                    <input type="hidden" name="" id="user_name" value="<%= user %>">
                    <span style="font-weight: bold;" for="">Group id: </apan><label for="" id="group_id"> <%= group %></label>
                    <input type="text" name="mess" value="" class="form-control" id="new_mess">
                    <br>
                    <div class="text-center">
                        <button type="submit" name="button" class="btn btn-primary" id="submit_mess">Send</button>
                    </div>
                </div>
            <% } else { %>
                <br><br><br>
                <div class="form text-center">
                    <form class="" action="/newUser" method="post">
                        <div class="enter_name_form" >
                            <input type="text" name="user" value="" placeholder="User Name" class="form-control" id="new_user">
                            <br><br>
                            <input type="text" name="group" value="" placeholder="Group id" class="form-control" id="new_user">
                            <label for="group">Enter The group id to join, leave it blank to create new one</label>
                            <br><br>
                            <button type="submit" name="button" class="btn btn-primary">Enter new User</button>
                        </div>
                    </form>
                </div>
            <% } %>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/new_mess.js" charset="utf-8"></script>
</html>
